.about-blurb {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about-img {
    margin: 20px;
    width: 40%
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.about-title {
    letter-spacing: 4.4px;;
}

.about-contact-btn-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
    .float-right, .float-left {
        float: none;
        width: 95%;
    }

    .about-container > .about-img-2 {
        order: 1;
    }

    .about-img {
        margin: 0;
        margin-bottom: 20px;
        width: 100%;
    }
}