.btn-style {
    box-sizing: border-box;
    border:2px solid var(--dark-green);
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase; 
    color: var(--dark-green);
    padding: 15px 20px;
    font-size: 14px;
}

.btn-style:hover {
    background-color: var(--dark-green);
    color: var(--light);
    text-decoration: none;
}

div .nav-link {
    color: var(--dark-green);
}

@media (max-width: 764px) {
    .contact-btn{
        box-sizing: border-box;
        border: none;
        padding: 0px;
        margin-top: 20px;
        font-size: 20px;
    }

    .contact-btn:hover{
        background-color: var(--light);
        color: var(--dark-green);
        text-decoration: underline;
    } 
}