@import url('https://fonts.googleapis.com/css?family=PT+Serif');

:root {
  --dark: #0a090c;
  --light: #f7eac9;
  --gold: #d8a355;
  --dark-green: #507255;
  --light-green: #b7e693;
}

.app {
  background-color: var(--light);
  color: var(--dark-green);
  font-family: 'PT Serif';
}
